
<!DOCTYPE html>
<html ng-app="appAlianca">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <title>Innova Condominio ::: App</title>

  <link href="css/ionic.css" rel="stylesheet">
  <script src="js/ionic.bundle.js"></script>
  <script src="js/dateformat.js"></script>
</head>

<body ng-controller="MainCtrl">

  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-nav-view></ion-nav-view>

  <script id="templates/home.html" type="text/ng-template">

    <ion-side-menus enable-menu-with-back-views="false">
      <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
          <ion-nav-back-button>
          </ion-nav-back-button>

          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
          </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
      </ion-side-menu-content>

      <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
          <h1 class="title">Módulos do App</h1>
        </ion-header-bar>
        <ion-content>
          <center>Condominio <i style="color:red">&hearts;</i> Parque das Arvores</center>
          <ul class="list">
            <a href="#/modulo/admin/curso" class="item" menu-close>Reservas</a>
            <a href="#/modulo/professor/chamada" class="item" menu-close>Mudanças</a>
            <a href="#/modulo/professor/chamada" class="item" menu-close>Ocorrencias</a>
            <a href="#/modulo/professor/chamada" class="item" menu-close>Fale Sindico</a>
            <a href="#/modulo/sobre" class="item" menu-close>Sobre o aplicativo</a>
          </ul>
        </ion-content>
      </ion-side-menu>
    </ion-side-menus>
  </script>

  <script id="templates/modulo/admin/tabs.html" type="text/ng-template">
    <ion-view view-title="Módulo Administração">
      <ion-tabs class="tabs-icon-top tabs-positive">
        <ion-tab title="Cadastro de Cursos" icon="ion-android-checkbox-outline" href="#/modulo/admin/curso">
          <ion-nav-view name="tab-curso"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Cadstro de Turmas" icon="ion-android-checkbox-outline" href="#/modulo/admin/turma">
          <ion-nav-view name="tab-turma"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Cadastro de Alunos" icon="ion-android-calendar" href="#/modulo/admin/aluno">
          <ion-nav-view name="tab-aluno"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
    </ion-view>
  </script>

  <script id="templates/modulo/admin/tab.aluno.html" type="text/ng-template">
    <ion-view view-title="Cadastro de Alunos">
      <ion-nav-buttons side="right">
        <button class="button button-positive">
          <button class="button button-icon ion-compose" ng-click="openModal()"></button>
        </button>
      </ion-nav-buttons>
      <ion-content>
        <ion-list>
          <ion-item class="item-remove-animate" ng-repeat="aluno in alunos">
            [{{aluno.aniversario}}] {{aluno.nome}}
            <ion-option-button class="button-calm"
            ng-click="openModal(aluno)">Editar</ion-option-button>
            <ion-option-button class="button-assertive"
            ng-click="listDelete(aluno)">Excluir</ion-option-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-view>
  </script>

  <script id="templates/modulo/admin/tab.aluno.cadastro.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Aluno</h1>
        <button class="button button-clear button-primary" ng-click="closeModal()">Cancelar</button>
      </ion-header-bar>
      <ion-content class="padding">
        <div class="list">
          <label class="item item-input">
            <input ng-model="entity.nome" type="text" placeholder="Nome Completo">
          </label>
          <label class="item item-input">
            <input ng-model="entity.email" type="text" placeholder="E-mail">
          </label>
          <label class="item item-input">
            <input ng-model="entity.aniversario" type="text" placeholder="Aniversário (Dia Mês, formato: DD/MM)">
          </label>
          <button class="button button-full button-positive" ng-click="salvar(entity)">Salvar</button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

  <script id="templates/modulo/admin/tab.curso.html" type="text/ng-template">
    <ion-view view-title="Reservas">
      <ion-nav-buttons side="right">
        <button class="button button-positive">
          <button class="button button-icon ion-compose" ng-click="modal.show()"></button>
        </button>
      </ion-nav-buttons>
      <ion-content>
        <ion-list>
          <ion-item ng-repeat="curso in cursos">
            {{curso.nome}}
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-view>
  </script>

  <script id="templates/modulo/admin/tab.curso.cadastro.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Novo Curso</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancelar</button>
      </ion-header-bar>
      <ion-content class="padding">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Nome</span>
            <input ng-model="newUser.nome" type="text">
          </label>
          <button class="button button-full button-positive" ng-click="salvar(newUser)">Criar</button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

  <script id="templates/modulo/admin/tab.turma.html" type="text/ng-template">
    <ion-view view-title="Cadastro de Turmas">
      <ion-nav-buttons side="right">
        <button class="button button-positive">
          <button class="button button-icon ion-compose" ng-click="modal.show()"></button>
        </button>
      </ion-nav-buttons>
      <ion-content>
        <ion-list>
          <ion-item ng-repeat="turma in turmas">
            {{turma.nome}}
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-view>
  </script>

  <script id="templates/modulo/admin/tab.turma.cadastro.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Nova Turma</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancelar</button>
      </ion-header-bar>
      <ion-content class="padding">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Nome</span>
            <input ng-model="newUser.nome" type="text">
          </label>
          <button class="button button-full button-positive" ng-click="salvar(newUser)">Criar</button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>


  <script id="templates/modulo/professor/tabs.html" type="text/ng-template">
    <ion-view view-title="Módulo Professor">
      <ion-tabs class="tabs-icon-top tabs-positive">
        <ion-tab title="Chamada" icon="ion-android-checkbox-outline" href="#/modulo/professor/chamada">
          <ion-nav-view name="tab-chamada"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Calendário Aulas" icon="ion-android-calendar" href="#/modulo/professor/calendario">
          <ion-nav-view name="tab-calendario"></ion-nav-view>
        </ion-tab>
      </ion-tabs>
    </ion-view>
  </script>

  <script id="templates/modulo/professor/tab.chamada.html" type="text/ng-template">
    <ion-view title="Chamada">
      <ion-content padding="true" class="has-header">
        <ion-list>
          <ion-item class="item-thumbnail-left">
            <img src="{{turma.curso.imagem}}">
            <h2><strong>{{turma.curso.nome}}</strong></h2>
            <p><strong>{{turma.professor.nome}}</strong></p>
            <!-- <small style="white-space:normal">{{turma.curso.descricao}}</small> -->
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item class="item-divider">[{{turma.data_aula}}] {{alunos_presentes()}}:</ion-item>
          <ion-checkbox
          ng-init="presente=aluno.aulas_presente.indexOf( turma.data_aula ) != -1"    ng-repeat="aluno in turma.alunos"
          ng-model="presente"
          ng-change="presenca(aluno)">{{aluno.nome}}</ion-checkbox>
        </ion-list>
      </ion-content>
    </ion-view>
  </script>

  <script id="templates/modulo/professor/tab.calendario.html" type="text/ng-template">
    <ion-view title="Calendário de Aulas">
      <ion-content padding="true" class="has-header">
        <ion-list>
          <ion-item ng-repeat="aula in calendarioAulas">
            <i ng-class="{aulaPassada: aula.data < now}">
              <strong>{{aula.dataFormatada}} </strong> - {{aula.descricao}}
            </i>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-view>
  </script>

  <script id="templates/sobre.html" type="text/ng-template">
    <ion-view view-title="Sobre">
      <ion-content class="padding card">
        <img class="center" src="img/app-icons/Icon-40@2x.png">
        <br>
        <p class="item item-text-wrap">Aplicativo criado para a Igreja Evangélica da Aliança, inicialmente para o contexto da Escola de Discípulos.</p>
      </ion-content>
      <ion-footer-bar class="bar-stable">
        <small class="title" style="font-size:12px;">2016 &copy; Longanime Tecnologia Ltda.</small>
      </ion-footer-bar>
    </ion-view>
  </script>

  <script src="js/index.js"></script>

</body>
</html>
